
<h4>API Explanation</h4>
<div>
    <p>api/test - returns 10 sample records</p>
    <p>api/test/{number} - returns {number} sample records</p>
    <p>api/records - returns last 10 records</p>
    <p>api/records/n - returns n most recent records</p>
    <p>api/records/date/{date} - returns all records for date</p>
    <p>api/records/date/{date}/sources/{id} - returns all records for date for source with {id}</p>
    <p>api/predictions</p>
    <h5>NOT YET IMPLEMENTED</h5>
    <p>api/city/{city id} - returns all records associated with a city</p>
</div>
</div>
